.contact{
   display: grid;
   place-content: center;
}

.contact>h2{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    border: 1px solid whitesmoke;
    padding: 5px 5px;
}

#icons{
    margin-top: 40px;
    display: flex;
    place-content: center;
}

#icons>a{
    padding: 5px 5px;
    color: whitesmoke;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

#sayHello{
    margin-top: 20px;
    place-items: center;
    display: grid;
}
#helloBtn{
    background-color: transparent;
    border: 2px solid rgb(19, 155, 128);
    color: rgb(19, 155, 128);
    border-radius: 5px;
    padding: 2px 2px;
}

#helloBtn:hover{
    background-color: rgb(2, 30, 30);
}