
.edu2>h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 35px;
    color: white;
}

#ug{
    margin-top: 10px;
}

#ug>h4{
    color: rgb(19, 155, 128);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}


#grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
 
}


@media all and (max-width:500px){
    .edu2{
        width: 300px;
        padding: 10px 10px;
        display: grid;
        place-content: center;
        
    }
   
}