
.outer{
    width: 100vw;
    height: 100%;
    background-color:  rgb(10, 25, 47);
    display: grid;
    place-content: center;
}

#hi{
    color: rgb(19, 155, 128);
}

#name{
    font-size: 60px;
    color: white;
}
#title{
    color: rgb(167, 167, 167);
}
#age{
    color: rgb(142, 142, 142);
    font-size: 20px;
}


